<div style="width: 100%;max-width: 1200px;margin: 0 auto;">
  <div style="display: grid;grid-template-columns: repeat(2, minmax(0, 1fr));gap: 16px;">
    <div>
      <h2>JSON Editor</h2>
      <app-editor [(text)]="jsonInputData" mode="json" ></app-editor>
    </div>
    <div>
      <h2>YAML Editor</h2>
      <app-editor [(text)]="yamlInputData" mode="yaml"></app-editor>
    </div>
    <div>
      <h2>App Module TypeScript Editor <span style="color: blue;">ReadOnly</span></h2>
      <app-editor [(text)]="appModuleTsData" mode="typescript" [readOnly]="true"></app-editor>
    </div>
    <div>
      <h2>JavaScript Editor</h2>
      <app-editor [(text)]="scssData" mode="scss"></app-editor>
    </div>
  </div>
</div>